<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flickr_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B8D8BB81C1A1BB200F3FB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B8D8BCC1C1A1BB300F3FB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B8D8BD71C1A1BB300F3FB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
